# Import Libraries

In [1]:
import sqlalchemy
import pypyodbc as odbc
from sqlalchemy import create_engine
from sqlalchemy import URL
import pandas as pd

# Setup Connection String

In [2]:
DRIVER_NAME='SQL SERVER'
SERVER_NAME='MALATA2'
DATABASE_NAME='SQLPROJECTS'

In [3]:
connection_string=f"""
           DRIVER={DRIVER_NAME};SERVER={SERVER_NAME};DATABASE={DATABASE_NAME};
           Trust_Connection=yes;

"""

# Create a Table in sql

In [4]:
driver='{SQL Server}'
server='MALATA2'
database='SQLPROJECTS'

In [5]:
connection_url=URL.create(drivername='mssql+pyodbc',query={'odbc_connect':f"DRIVER={driver};SERVER={server};DATABASE={database}"})

In [6]:
engine=create_engine(connection_url,module=odbc)

In [7]:
df=pd.read_csv('Global_Superstore.csv')

In [8]:
df.to_sql(name='Global_Superstore.csv',con=engine,if_exists='replace',index=False,schema='dbo',dtype={
    'row_id':sqlalchemy.types.INT, 
    'order_id':sqlalchemy.types.VARCHAR(50),
    'order_date':sqlalchemy.types.DATE,
    'ship_date':sqlalchemy.types.DATE,
    'ship_mode':sqlalchemy.types.VARCHAR(50),
    'customer_id':sqlalchemy.types.VARCHAR(50),
    'customer_name':sqlalchemy.types.VARCHAR(50),
    'segment':sqlalchemy.types.VARCHAR(25),
    'city':sqlalchemy.types.VARCHAR(50),
    'states':sqlalchemy.types.VARCHAR(50),
    'country':sqlalchemy.types.VARCHAR(50),
    'markets':sqlalchemy.types.VARCHAR(25),
    'regions':sqlalchemy.types.VARCHAR(25),
    'product_id':sqlalchemy.types.VARCHAR(50),
    'categories':sqlalchemy.types.VARCHAR(50),
    'sub_categories':sqlalchemy.types.VARCHAR(50),
    'product_name':sqlalchemy.types.VARCHAR,
    'quantities':sqlalchemy.types.INT,
    'freightcost':sqlalchemy.types.FLOAT,
    'order_priority':sqlalchemy.types.VARCHAR(25),
    'years':sqlalchemy.types.INT,
    'months':sqlalchemy.types.INT,
    'sales':sqlalchemy.types.FLOAT
})

57

# Create a function to connect to database

In [9]:
def create_server_connection():
    connection=None
    try:
        connection=odbc.connect(connection_string,autocommit=True)
        print('Database connection successful')
    except Error as e:
        print(f"Error :'{e}'")
    return connection

In [10]:
connection=create_server_connection()

Database connection successful

# Create a function to execute sql commands

In [11]:
def read_query(connection,query):
    cursor=connection.cursor()
    result=None
    try:
        cursor.execute(query)
        result=cursor.fetchall()
        return result
    except Error as e:
        print(f"Error : '{e}'")

# Data Preprocessing

In [12]:
Q1="""
select TOP 5 * from Global_Superstore
"""
create_server_connection()
results=read_query(connection,Q1)

for result in results:
    print(result)

Database connection successful
(32298, 'CA-2012-124891', '2012-07-31', '2012-07-31', 'Same Day', 'RH-19495', 'Rick Hansen', 'Consumer', 'New York City', 'New York', 'United States', 'US', 'East', 'TEC-AC-10003033', 'Technology', 'Accessories', 'Plantronics CS510 - Over-the-Head monaural Wireless Headset System', 7, 933.57, 'Critical', 2012, 7, 16167.550000000001)
(26341, 'IN-2013-77878', '2013-02-05', '2013-02-07', 'Second Class', 'JR-16210', 'Justin Ritter', 'Corporate', 'Wollongong', 'New South Wales', 'Australia', 'APAC', 'Oceania', 'FUR-CH-10003950', 'Furniture', 'Chairs', 'Novimex Executive Leather Armchair, Black', 9, 923.63, 'Critical', 2013, 2, 33384.6)
(25330, 'IN-2013-71249', '2013-10-17', '2013-10-18', 'First Class', 'CR-12730', 'Craig Reiter', 'Consumer', 'Brisbane', 'Queensland', 'Australia', 'APAC', 'Oceania', 'TEC-PH-10004664', 'Technology', 'Phones', 'Nokia Smart Phone, with Caller ID', 9, 915.49, 'Medium', 2013, 10, 46576.53)
(13524, 'ES-2013-1579342', '2013-01-28', '2013-01-30', 'First Class', 'KM-16375', 'Katherine Murray', 'Home Office', 'Berlin', 'Berlin', 'Germany', 'EU', 'Central', 'TEC-PH-10004583', 'Technology', 'Phones', 'Motorola Smart Phone, Cordless', 5, 910.16, 'Medium', 2013, 1, 14462.550000000001)
(47221, 'SG-2013-4320', '2013-11-05', '2013-11-06', 'Same Day', 'RH-9495', 'Rick Hansen', 'Consumer', 'Dakar', 'Dakar', 'Senegal', 'Africa', 'Africa', 'TEC-SHA-10000501', 'Technology', 'Copiers', 'Sharp Wireless Fax, High-Speed', 8, 903.04, 'Critical', 2013, 11, 22663.68)

#### ***This query returns 5 records from the table***

In [13]:
Q2="""
select count(*) as no_of_transactions from Global_Superstore
"""
create_server_connection()
results=read_query(connection,Q2)

for result in results:
    print(result)

Database connection successful
(51290,)

#### ***This query counts the number of records in the table***

In [14]:
Q3="""
select * 
from Global_Superstore 
where row_id is null
or order_id is null
or order_date is null
or ship_date is null 
or ship_mode is null
or customer_id is null
or customer_name is null
or segment is null
or city is null
or states is null
or countries is null
or markets is null
or regions is null
or product_id is null
or category is null
or sub_category is null
or product_name is null
or quantities is null
or freightcost is null 
or order_priority is null
or years is null
or months is null
or sale is null
"""

create_server_connection()
results=read_query(connection,Q3)

for result in results:
    print(result)

Database connection successful

#### ***This query returns null values***

In [15]:
Q4="""
select row_id,
count(*) as no_of_transactions 
from Global_Superstore
group by row_id
having count(*) >1
"""
create_server_connection()
results=read_query(connection,Q4)

for result in results:
    print(result)

Database connection successful

#### ***This query handle/checks duplicate values***

# Handle/Check Categorical data

In [16]:
Q5="""
        select ship_mode 
		from Global_Superstore
		group by ship_mode
"""
create_server_connection()
results=read_query(connection,Q5)

for result in results:
    print(result)

Database connection successful
('First Class',)
('Same Day',)
('Standard Class',)
('Second Class',)

#### ***This query returns the unique ship modes***

In [17]:
Q6="""
        select top 5 customer_id 
		from Global_Superstore
		group by customer_id 
"""
create_server_connection()
results=read_query(connection,Q6)

for result in results:
    print(result)

Database connection successful
('RH-19495',)
('JR-16210',)
('CR-12730',)
('KM-16375',)
('RH-9495',)

#### ***This query returns the unique customers id***

In [18]:
Q7="""
        select top 5 customer_name
		from Global_Superstore
		group by customer_name
"""
create_server_connection()
results=read_query(connection,Q7)

for result in results:
    print(result)

Database connection successful
('Rick Hansen',)
('Justin Ritter',)
('Craig Reiter',)
('Katherine Murray',)
('Jim Mitchum',)

#### ***This query returns the unique customers names***

In [19]:
Q8="""
        select segment
		from Global_Superstore
		group by segment
"""
create_server_connection()
results=read_query(connection,Q8)

for result in results:
    print(result)

Database connection successful
('Corporate',)
('Home Office',)
('Consumer',)

#### ***This query returns the unique segments***

In [20]:
Q9="""
        select top 5 city
		from Global_Superstore
		group by city
"""
create_server_connection()
results=read_query(connection,Q9)

for result in results:
    print(result)

Database connection successful
('New York City',)
('Wollongong',)
('Brisbane',)
('Berlin',)
('Dakar',)

#### ***This query returns the unique cities***

In [21]:
Q10="""
        select top 5 states
		from Global_Superstore
		group by states
"""
create_server_connection()
results=read_query(connection,Q10)

for result in results:
    print(result)

Database connection successful
('New York',)
('New South Wales',)
('Queensland',)
('Berlin',)
('Dakar',)

#### ***This query returns the unique states***

In [22]:
Q11="""
        select top 5 countries
		from Global_Superstore
		group by countries
"""
create_server_connection()
results=read_query(connection,Q11)

for result in results:
    print(result)

Database connection successful
('United States',)
('Australia',)
('Germany',)
('Senegal',)
('New Zealand',)

#### ***This query returns the unique countries***

In [23]:
Q12="""
        select markets
		from Global_Superstore
		group by markets
"""
create_server_connection()
results=read_query(connection,Q12)

for result in results:
    print(result)

Database connection successful
('EU',)
('EMEA',)
('Africa',)
('LATAM',)
('Canada',)
('APAC',)
('US',)

#### ***This query returns unique markets***

In [24]:
Q13="""
        select regions
		from Global_Superstore
		group by regions
"""
create_server_connection()
results=read_query(connection,Q13)

for result in results:
    print(result)

Database connection successful
('North',)
('East',)
('EMEA',)
('Africa',)
('North Asia',)
('Oceania',)
('Caribbean',)
('South',)
('Canada',)
('Southeast Asia',)
('Central Asia',)
('West',)
('Central',)

#### ***This query returns unique regions***

In [25]:
Q14="""
        select category
		from Global_Superstore
		group by category
"""
create_server_connection()
results=read_query(connection,Q14)

for result in results:
    print(result)

Database connection successful
('Office Supplies',)
('Furniture',)
('Technology',)

#### ***This query returns the unique categories***

In [26]:
Q15="""
        select sub_category
		from Global_Superstore
		group by sub_category
"""
create_server_connection()
results=read_query(connection,Q15)

for result in results:
    print(result)

Database connection successful
('Supplies',)
('Storage',)
('Phones',)
('Fasteners',)
('Copiers',)
('Chairs',)
('Bookcases',)
('Machines',)
('Art',)
('Envelopes',)
('Binders',)
('Labels',)
('Furnishings',)
('Accessories',)
('Appliances',)
('Paper',)
('Tables',)

#### ***This query returns the unique subcategories***

In [27]:
Q16="""
        select top 5 product_name
		from Global_Superstore
		group by product_name
"""
create_server_connection()
results=read_query(connection,Q16)

for result in results:
    print(result)

Database connection successful
('Plantronics CS510 - Over-the-Head monaural Wireless Headset System',)
('Novimex Executive Leather Armchair, Black',)
('Nokia Smart Phone, with Caller ID',)
('Motorola Smart Phone, Cordless',)
('Sharp Wireless Fax, High-Speed',)

#### ***This query returns the unique product names***

In [28]:
Q17="""
        select order_priority
		from Global_Superstore
		group by order_priority
"""
create_server_connection()
results=read_query(connection,Q17)

for result in results:
    print(result)

Database connection successful
('Low',)
('High',)
('Medium',)
('Critical',)

#### ***This query returns unique order priority***

In [29]:
Q18="""
        select top 5 countries,count(distinct states) as states,count(distinct city) as cities
        from Global_Superstore 
        group by countries
        order by count(distinct states) desc,count(distinct city) desc

"""
create_server_connection()
results=read_query(connection,Q18)

for result in results:
    print(result)

Database connection successful
('Turkey', 59, 101)
('United States', 49, 531)
('China', 30, 240)
('Mexico', 30, 122)
('Nigeria', 30, 36)

#### ***This query returns the number of states and cities in each country***

In [30]:
Q19="""
        select category,count(distinct sub_category) as subcategories
        from Global_Superstore 
        group by category
        order by count(distinct sub_category)

"""
create_server_connection()
results=read_query(connection,Q19)

for result in results:
    print(result)

Database connection successful
('Furniture', 4)
('Technology', 4)
('Office Supplies', 9)

#### ***This query returns the number of subcategories in each category***

# Data Exploration

In [31]:
Q20="""
        select round(sum(sale),2) as Total_Sales from Global_Superstore

"""
create_server_connection()
results=read_query(connection,Q20)

for result in results:
    print(result)

Database connection successful
(61821273.04,)

#### ***This query returns total sales***

In [32]:
Q21="""
        select year(order_date)as years,
        round(sum(sale),2) as Total_Sales 
        from Global_Superstore 
        group by year(order_date)
        order by year(order_date)

"""
create_server_connection()
results=read_query(connection,Q21)

for result in results:
    print(result)

Database connection successful
(2011, 11129605.66)
(2012, 12962194.38)
(2013, 16743659.74)
(2014, 20985813.26)

#### ***This query returns sales yearwise***

In [33]:
Q22="""
        select year(order_date)as years,month(order_date) as months,
        round(sum(sale),2) as Total_Sales 
        from Global_Superstore 
        group by year(order_date),month(order_date)
        order by Total_Sales desc

"""
create_server_connection()
results=read_query(connection,Q22)

for result in results:
    print(result)

Database connection successful
(2014, 11, 2686614.32)
(2014, 12, 2488809.67)
(2014, 9, 2395032.96)
(2014, 8, 2218194.12)
(2014, 10, 2128268.4)
(2013, 12, 2111760.75)
(2013, 6, 2041529.22)
(2014, 6, 1995769.92)
(2013, 11, 1816303.28)
(2013, 9, 1770230.79)
(2012, 12, 1688894.14)
(2011, 12, 1627871.39)
(2012, 8, 1562379.1)
(2013, 8, 1540457.52)
(2012, 11, 1521473.79)
(2011, 11, 1506170.82)
(2011, 9, 1459913.85)
(2013, 10, 1405957.12)
(2012, 9, 1395052.92)
(2014, 5, 1334220.16)
(2013, 5, 1278264.28)
(2014, 3, 1245819.08)
(2014, 7, 1233009.1)
(2014, 1, 1230117.55)
(2012, 10, 1219309.74)
(2014, 4, 1171706.12)
(2013, 7, 1099702.95)
(2012, 6, 1092075.21)
(2011, 8, 1066876.75)
(2013, 1, 1029843.47)
(2011, 6, 1011595.57)
(2012, 5, 991665.45)
(2013, 3, 967035.72)
(2011, 10, 945367.16)
(2013, 2, 885854.55)
(2014, 2, 858251.86)
(2012, 3, 827919.59)
(2013, 4, 796720.09)
(2012, 4, 781149.31)
(2011, 5, 744481.49)
(2011, 3, 720105.61)
(2012, 7, 707845.08)
(2012, 1, 689409.5)
(2011, 4, 569976.56)
(2011, 7, 534383.77)
(2011, 2, 486085.21)
(2012, 2, 485020.55)
(2011, 1, 456777.48)

#### ***This query returns sales by year and month***

In [34]:
Q23="""
        select year(order_date)as years,month(order_date) as months,
        round(sum(quantities),2) as Total_Sales 
        from Global_Superstore 
        group by year(order_date),month(order_date)
        order by Total_Sales desc

"""
create_server_connection()
results=read_query(connection,Q23)

for result in results:
    print(result)

Database connection successful
(2014, 11, 2686614.32)
(2014, 12, 2488809.67)
(2014, 9, 2395032.96)
(2014, 8, 2218194.12)
(2014, 10, 2128268.4)
(2013, 12, 2111760.75)
(2013, 6, 2041529.22)
(2014, 6, 1995769.92)
(2013, 11, 1816303.28)
(2013, 9, 1770230.79)
(2012, 12, 1688894.14)
(2011, 12, 1627871.39)
(2012, 8, 1562379.1)
(2013, 8, 1540457.52)
(2012, 11, 1521473.79)
(2011, 11, 1506170.82)
(2011, 9, 1459913.85)
(2013, 10, 1405957.12)
(2012, 9, 1395052.92)
(2014, 5, 1334220.16)
(2013, 5, 1278264.28)
(2014, 3, 1245819.08)
(2014, 7, 1233009.1)
(2014, 1, 1230117.55)
(2012, 10, 1219309.74)
(2014, 4, 1171706.12)
(2013, 7, 1099702.95)
(2012, 6, 1092075.21)
(2011, 8, 1066876.75)
(2013, 1, 1029843.47)
(2011, 6, 1011595.57)
(2012, 5, 991665.45)
(2013, 3, 967035.72)
(2011, 10, 945367.16)
(2013, 2, 885854.55)
(2014, 2, 858251.86)
(2012, 3, 827919.59)
(2013, 4, 796720.09)
(2012, 4, 781149.31)
(2011, 5, 744481.49)
(2011, 3, 720105.61)
(2012, 7, 707845.08)
(2012, 1, 689409.5)
(2011, 4, 569976.56)
(2011, 7, 534383.77)
(2011, 2, 486085.21)
(2012, 2, 485020.55)
(2011, 1, 456777.48)

#### ***This query returns quantities sold by year and month***

In [35]:
Q24="""
        with curr as(
        select year(order_date) as years,round(SUM(sale),2) as Total_Sales
        from Global_Superstore
        group by year(order_date)
        --order by year(order_date)
        ), prev_yr as(
        select *,
        LAG(Total_Sales,1,Total_Sales) over(order by years) as prev_sales
        from curr
        )
        select *,
        round((Total_Sales-prev_sales)/prev_sales,2)*100 as YoY
        from prev_yr

"""
create_server_connection()
results=read_query(connection,Q24)

for result in results:
    print(result)

Database connection successful
(2011, 11129605.66, 11129605.66, 0.0)
(2012, 12962194.38, 11129605.66, 16.0)
(2013, 16743659.74, 12962194.38, 28.999999999999996)
(2014, 20985813.26, 16743659.74, 25.0)

#### ***This query returns YoY percentage change***

In [36]:
Q25="""
        with curr_qt as(
        select year(order_date) as years,round(SUM(quantities),2) as Total_Quantities
        from Global_Superstore
        group by year(order_date)
        --order by year(order_date)
        ), prev_yr_qt as(
        select *,
        LAG(Total_Quantities,1,Total_Quantities) over(order by years) as prev_quantities
        from curr_qt
        )
        select *,
        round((Total_Quantities-prev_quantities)/prev_quantities,2)*100 as YoY_qt
        from prev_yr_qt

"""
create_server_connection()
results=read_query(connection,Q25)

for result in results:
    print(result)

Database connection successful
(2011, 31443, 31443, 0)
(2012, 38111, 31443, 0)
(2013, 48136, 38111, 0)
(2014, 60622, 48136, 0)

In [37]:
Q26="""
        with mon as(
        select year(order_date)as years,month(order_date) as months,
        round(sum(sale),2) as Total_Sales 
        from Global_Superstore 
        group by year(order_date),month(order_date)
        --order by year(order_date) desc,month(order_date) desc
        ),prev_mon as(
        select *,
        LAG(Total_Sales,1,Total_Sales) over(order by years,months) as prev_months
        from mon
        )
        select *,
        round((Total_Sales-prev_months)/prev_months,2)*100 as MoM
        from prev_mon

"""
create_server_connection()
results=read_query(connection,Q26)

for result in results:
    print(result)

Database connection successful
(2011, 1, 456777.48, 456777.48, 0.0)
(2011, 2, 486085.21, 456777.48, 6.0)
(2011, 3, 720105.61, 486085.21, 48.0)
(2011, 4, 569976.56, 720105.61, -21.0)
(2011, 5, 744481.49, 569976.56, 31.0)
(2011, 6, 1011595.57, 744481.49, 36.0)
(2011, 7, 534383.77, 1011595.57, -47.0)
(2011, 8, 1066876.75, 534383.77, 100.0)
(2011, 9, 1459913.85, 1066876.75, 37.0)
(2011, 10, 945367.16, 1459913.85, -35.0)
(2011, 11, 1506170.82, 945367.16, 59.0)
(2011, 12, 1627871.39, 1506170.82, 8.0)
(2012, 1, 689409.5, 1627871.39, -57.99999999999999)
(2012, 2, 485020.55, 689409.5, -30.0)
(2012, 3, 827919.59, 485020.55, 71.0)
(2012, 4, 781149.31, 827919.59, -6.0)
(2012, 5, 991665.45, 781149.31, 27.0)
(2012, 6, 1092075.21, 991665.45, 10.0)
(2012, 7, 707845.08, 1092075.21, -35.0)
(2012, 8, 1562379.1, 707845.08, 121.0)
(2012, 9, 1395052.92, 1562379.1, -11.0)
(2012, 10, 1219309.74, 1395052.92, -13.0)
(2012, 11, 1521473.79, 1219309.74, 25.0)
(2012, 12, 1688894.14, 1521473.79, 11.0)
(2013, 1, 1029843.47, 1688894.14, -39.0)
(2013, 2, 885854.55, 1029843.47, -14.000000000000002)
(2013, 3, 967035.72, 885854.55, 9.0)
(2013, 4, 796720.09, 967035.72, -18.0)
(2013, 5, 1278264.28, 796720.09, 60.0)
(2013, 6, 2041529.22, 1278264.28, 60.0)
(2013, 7, 1099702.95, 2041529.22, -46.0)
(2013, 8, 1540457.52, 1099702.95, 40.0)
(2013, 9, 1770230.79, 1540457.52, 15.0)
(2013, 10, 1405957.12, 1770230.79, -21.0)
(2013, 11, 1816303.28, 1405957.12, 28.999999999999996)
(2013, 12, 2111760.75, 1816303.28, 16.0)
(2014, 1, 1230117.55, 2111760.75, -42.0)
(2014, 2, 858251.86, 1230117.55, -30.0)
(2014, 3, 1245819.08, 858251.86, 45.0)
(2014, 4, 1171706.12, 1245819.08, -6.0)
(2014, 5, 1334220.16, 1171706.12, 14.000000000000002)
(2014, 6, 1995769.92, 1334220.16, 50.0)
(2014, 7, 1233009.1, 1995769.92, -38.0)
(2014, 8, 2218194.12, 1233009.1, 80.0)
(2014, 9, 2395032.96, 2218194.12, 8.0)
(2014, 10, 2128268.4, 2395032.96, -11.0)
(2014, 11, 2686614.32, 2128268.4, 26.0)
(2014, 12, 2488809.67, 2686614.32, -7.000000000000001)

#### ***This query returns MoM percentage change***

In [38]:
Q27="""
        with mon_qt as(
        select year(order_date)as years,month(order_date) as months,
        round(sum(quantities),2) as Total_Quantities 
        from Global_Superstore 
        group by year(order_date),month(order_date)
        --order by year(order_date) desc,month(order_date) desc
        ),prev_mon_qt as(
        select *,
        LAG(Total_Quantities,1,Total_Quantities) over(order by years,months) as prev_months_qt
        from mon_qt
        )
        select *,
        round((Total_Quantities-prev_months_qt)/prev_months_qt,2)*100 as MoM_qt
        from prev_mon_qt


"""
create_server_connection()
results=read_query(connection,Q27)

for result in results:
    print(result)

Database connection successful
(2011, 1, 1463, 1463, 0)
(2011, 2, 1224, 1463, 0)
(2011, 3, 1836, 1224, 0)
(2011, 4, 2020, 1836, 0)
(2011, 5, 2013, 2020, 0)
(2011, 6, 3112, 2013, 0)
(2011, 7, 1774, 3112, 0)
(2011, 8, 3035, 1774, 0)
(2011, 9, 3707, 3035, 0)
(2011, 10, 2727, 3707, 0)
(2011, 11, 4039, 2727, 0)
(2011, 12, 4493, 4039, 0)
(2012, 1, 1845, 4493, 0)
(2012, 2, 1473, 1845, 0)
(2012, 3, 2237, 1473, 0)
(2012, 4, 2250, 2237, 0)
(2012, 5, 2921, 2250, 0)
(2012, 6, 3671, 2921, 0)
(2012, 7, 2321, 3671, 0)
(2012, 8, 3818, 2321, 0)
(2012, 9, 4205, 3818, 0)
(2012, 10, 3563, 4205, 0)
(2012, 11, 5193, 3563, 0)
(2012, 12, 4614, 5193, 0)
(2013, 1, 2413, 4614, 0)
(2013, 2, 2102, 2413, 0)
(2013, 3, 2686, 2102, 0)
(2013, 4, 2688, 2686, 0)
(2013, 5, 3808, 2688, 0)
(2013, 6, 5327, 3808, 0)
(2013, 7, 3252, 5327, 0)
(2013, 8, 4934, 3252, 0)
(2013, 9, 5793, 4934, 0)
(2013, 10, 3883, 5793, 0)
(2013, 11, 5556, 3883, 0)
(2013, 12, 5694, 5556, 0)
(2014, 1, 3122, 5694, 0)
(2014, 2, 2482, 3122, 0)
(2014, 3, 3722, 2482, 0)
(2014, 4, 3594, 3722, 0)
(2014, 5, 4300, 3594, 0)
(2014, 6, 6009, 4300, 0)
(2014, 7, 3637, 6009, 0)
(2014, 8, 5824, 3637, 0)
(2014, 9, 6837, 5824, 0)
(2014, 10, 5876, 6837, 0)
(2014, 11, 7706, 5876, 0)
(2014, 12, 7513, 7706, 0)

In [39]:
Q28="""
        select category,sub_category,round(sum(sale),2) as Total_Sales
        from Global_Superstore 
        group by category,sub_category
        order by Total_Sales desc


"""
create_server_connection()
results=read_query(connection,Q28)

for result in results:
    print(result)

Database connection successful
('Technology', 'Phones', 8402119.96)
('Furniture', 'Chairs', 7446715.53)
('Technology', 'Copiers', 7174849.55)
('Furniture', 'Bookcases', 7061787.75)
('Office Supplies', 'Storage', 5486168.87)
('Office Supplies', 'Appliances', 5029154.37)
('Technology', 'Accessories', 3805274.95)
('Technology', 'Machines', 3665046.36)
('Furniture', 'Tables', 3656508.21)
('Office Supplies', 'Binders', 2289169.7)
('Furniture', 'Furnishings', 1923668.95)
('Office Supplies', 'Art', 1825377.85)
('Office Supplies', 'Paper', 1239769.93)
('Office Supplies', 'Supplies', 1190649.94)
('Office Supplies', 'Envelopes', 837352.68)
('Office Supplies', 'Fasteners', 407746.62)
('Office Supplies', 'Labels', 379911.82)

#### ***This query returns sales by subcategory***

In [40]:
Q29="""
        select category,sub_category,round(sum(quantities),2) as Total_Quantities
        from Global_Superstore 
        group by category,sub_category
        order by Total_Quantities desc


"""
create_server_connection()
results=read_query(connection,Q29)

for result in results:
    print(result)

Database connection successful
('Office Supplies', 'Binders', 21429)
('Office Supplies', 'Storage', 16917)
('Office Supplies', 'Art', 16301)
('Office Supplies', 'Paper', 12822)
('Furniture', 'Chairs', 12336)
('Technology', 'Phones', 11870)
('Furniture', 'Furnishings', 11225)
('Technology', 'Accessories', 10946)
('Office Supplies', 'Labels', 9322)
('Office Supplies', 'Supplies', 8543)
('Office Supplies', 'Fasteners', 8390)
('Office Supplies', 'Envelopes', 8380)
('Furniture', 'Bookcases', 8310)
('Technology', 'Copiers', 7454)
('Office Supplies', 'Appliances', 6078)
('Technology', 'Machines', 4906)
('Furniture', 'Tables', 3083)

#### ***This query returns sales volume by subcategories***

In [41]:
Q30="""
        select category,sub_category,round(sum(freightcost),2) as Total_Cost
        from Global_Superstore 
        group by category,sub_category
        order by Total_Cost desc


"""
create_server_connection()
results=read_query(connection,Q30)

for result in results:
    print(result)

Database connection successful
('Technology', 'Phones', 184902.77)
('Furniture', 'Chairs', 164229.85)
('Technology', 'Copiers', 159496.49)
('Furniture', 'Bookcases', 155482.23)
('Office Supplies', 'Storage', 120546.46)
('Office Supplies', 'Appliances', 108300.78)
('Technology', 'Accessories', 83513.58)
('Furniture', 'Tables', 79861.46)
('Technology', 'Machines', 79135.9)
('Office Supplies', 'Binders', 48181.99)
('Office Supplies', 'Art', 41287.47)
('Furniture', 'Furnishings', 40747.12)
('Office Supplies', 'Paper', 26661.29)
('Office Supplies', 'Supplies', 24812.05)
('Office Supplies', 'Envelopes', 18547.78)
('Office Supplies', 'Fasteners', 9053.59)
('Office Supplies', 'Labels', 8059.88)

#### ***This query returns freight cost by subcategory***